* {
    margin: 0;
    /*   CSS reset */
    padding: 0;
    /* CSS reset */
  }
  * {
    /* es para modificar todas la etiquetas */
    font-family: 'Cormorant Garamond';
    font-weight: 900;
  }
  h1 {
    color: rgb(63, 165, 42);
    /*       Coloreado del texto */
    font-family: 'Single Day';
    /*       Fuente elegida por el usuario */
    font-weight: 900;
  }